
@media (max-width: 360px),(max-width: 375px) ,(max-width: 430px){
.w-10{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
.w-25{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.w-30{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.w-50{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.nav-list, .logo{
    display: block;
}
.nav-list{
    margin-right: 0;
}
.nav-list ul li a{
    padding: 10px;  
}
.sec1  div:last-child{
    position: absolute;
    right: 5%;
    top: 10%;
}
.sec1  div:last-child .name{
    font-size: 1.5rem;
}
.sec1  div:last-child .desc{
    margin-bottom: 10px;
     font-weight: 1rem
}
.btn{
    margin: 5px;
    padding: 7px;
    border-radius: 10px;
}
}

